body{
    padding: 0%;
    margin: 0%;
}

aside{
    width: 50vh;
    height: 100vh;
    background-color: brown;
    position: fixed;
}
.img{
    width: 150px;
    height: 150px;
    border-radius: 100%; 
    margin: 20%;
    border: 10px white solid;
}

.links{
    margin-top: 40px;
}

.link{
    text-align: center;
    color: white;
    margin-top: 20px;
    font-weight: bold;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    border-bottom: 5px white solid;
}
b{
    color: gray;
}

p{
    color: gray;
}

.img:hover{
    cursor: pointer;
}

article{
    width: auto;
    margin-left: 50vh;
}
.container{
    display: flex;
}

.identity{
    text-align: left;
    margin: 8% 5% 5% 5%;
}
.name{
    font-size: 3rem;
}
.last_name{
    color: brown;
    font-size: 3rem;
    margin-left: 2%;
}
.contact{
    text-transform: uppercase;
    display: block;
}
.address{
    color: brown;
    text-decoration: underline;
}
.detail{
    margin-top: 5%;
}
.contact_link{
    margin: 5% 0% 0% -5%;
}
.img_contact{
    margin-left: 4%;
    width: 5%;
    border-radius: 100%;
}
h2{
    font-size: 2rem;
    color: gray;
}
h3{
    font-size: 1.5rem;
    color: gray;
}
.backend{
    margin-top: 5%;
}
footer{
    background-color: brown;
    text-align: center;
    padding: 3%;
    color: white;
}
